body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
  padding-right: 5%;
}

#uploadForm {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

#uploadForm div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="file"] {
  display: none;
}

.file-label {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  color: #333;
}

.file-label:hover {
  background-color: #f0f0f0;
}

select,
button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #4cae4c;
}

#mensaje {
  margin-top: 20px;
  padding: 10px;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 5px;
  color: #3c763d;
}

.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
  color: #aaa;
  text-align: center;
  margin-bottom: 15px;
}

.drop-zone.dragover {
  background-color: #e9e9e9;
  border-color: #333;
  color: #333;
}
